fastapi[all]>=0.115.4
passlib[bcrypt]>=1.7.4
pre-commit>=4.0.1
pydantic-settings>=2.6.1
pyjwt>=2.9.0
python-dotenv>=1.0.1
sqlalchemy>=2.0.36
sqlmodel>=0.0.22
pytest>=7.2.0
psycopg2-binary>=2.9.10
python-jose[cryptography]>=3.3.0
bcrypt==4.0.1